body {
    font-family: 'Koh Santepheap', cursive;
    margin: 0 auto;
}

/* header */

.header-bg {
    background-image: url(../img/pattern.png);
    background-color: rgb(57, 153, 243);
    background-size: 28%;
}

.header-bg img{
    text-align: left;
    width: 15%;
    margin: 40px 0px 15px 5px;
}

/* fine header */

/* sezione1 main */

.container {
    width: 80%;
    margin-left: 10px;
}

.main-title {    
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
}

.second-title {
    color: gray;
    font-weight: bold;
    margin: 0;
    margin-bottom: 20px;
}

.parolablu {
    color: rgb(57, 153, 243);
}

.paragrafopiccolo {
    font-weight: lighter;
    font-size: 13px;
}

.sezione1img {
    width:90%;
    padding: 10px;
}

.tim1 {
    width:50%;
    margin-right: 5px;
}

.tim2 {
    width:43%;
}

.subtitle {
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
}

/* fine sezione 1  */
/* inizio sezione 2  */

.container2 {
    margin-left: 10px;
}

.bggiallo {
    background-color: yellow;
}

.tabella {
    width:100%;
    display: inline;
    font-weight: bold;
    border-style: none;
}

.tablehead {
    color:white;
    background-color: rgb(57, 153, 243);
    text-align: left;
}

.col3 {
    width: 50%;
}

.bgceleste {
    background-color: lightblue;
}

/* fine sezione 2  */