body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
}

/* header */

.header-bg {
    background-image: url(../img/pattern.png);
    background-color: rgb(57, 153, 243);
    background-size: 28%;
}

.header-bg img{
    text-align: left;
    width: 15%;
    margin: 40px 0px 15px 5px;
}

/* fine header */