body {
    font-family: 'Koh Santepheap', cursive;
    margin: 0 auto;
}

/* header */

.header-bg {
    background-image: url(../img/pattern.png);
    background-color: rgb(57, 153, 243);
    background-size: 28%;
}

.header-bg img{
    text-align: left;
    width: 15%;
    margin: 40px 0px 15px 5px;
}

/* fine header */

/* sezione1 main */

.container {
    width: 80%;
    margin-left: 10px;
}

.main-title {    
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0;
}

.second-title {
    color: gray;
    font-weight: bold;
}

.parolablu {
    color: rgb(57, 153, 243);
}

.paragrafopiccolo {
    font-weight: lighter;
    font-size: 13px;
}